@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid red;
}

body {
    font-family: Pretendard, sans-serif;
    font-size: 0.9rem;
    line-height: 1rem;
    word-break: keep-all;
    overflow-x: hidden;
}

img {
    width: 100px;
}

h1 {
    font-size: 2.3rem;
    line-height: 2.6rem;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 8px;
    line-height: 2rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.8rem;
}

h4 {
    font-size: 1.3rem;
    line-height: 1.6rem;
    text-align: center;
}

h5 {
    font-size: 1.2rem;
    line-height: 1.4rem;
}

h6 {
    font-size: 1rem;
    line-height: 1.2rem;
}

p {
    font-size: 0.9rem;
    line-height: 1rem;
}

sup {
    color: red;
}

hr {
    border: 1px solid #ddd;
    margin-top: 16px;
}

.join a,
.login a {
    line-height: 1rem;
    color: #bbb;
    font-size: 0.9rem;
    text-decoration: none;
    transition: 0.3s;
}

.join a:hover,
.login a:hover,
.join a:active,
.login a:active {
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
}

button {
    border: 1px solid #ddd;
    background: white;
    padding: 12px 0;
    transition: 0.3s;
    width: 100%;
}

button:hover,
button a:hover {
    background: #eee;
}

.black-btn {
    background-color: #002C5F;
    color: white;
    border: 1px solid #002C5F;
}

.black-btn:hover {
    background-color: #2d2d37;
    border: 1px solid #2d2d37;
}

.icons img {
    width: 50px;
}

article {
    margin: 88px 0 176px;
    padding: 0 5%;
}

.mains {
    text-align: center;
}

.contents {
    padding: 56px 5%;
    border: 1px solid #ddd;
    margin: 56px 0;
}

.contents * {
    margin: 4px 0;
}

.icons {
    padding: 0 !important;
    font-size: 5rem;
    text-align: center;
}

.pad36 {
    padding-bottom: 36px;
    text-align: center;
}


/* form default */

input[type="text"] {
    font-family: Pretendard, sans-serif;
    width: 100%;
    padding-left: 5%;
    border: 1px solid #ddd;
}

input[type="text"]:focus {
    border: 1px solid black;
    outline: none;
}

textarea {
    width: 100%;
    border: 1px solid #ddd;
    height: 200px;
    padding: 24px 5%;
    resize: none;
    font-family: Pretendard, sans-serif;
}

textarea:focus {
    outline: none;
    border: 1px solid black;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="tel"] {
    width: 100%;
    font-family: Pretendard, sans-serif;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 4px;
}

select {
    appearance: none;
}

select:optional {
    background: url("images/icon-down-arrow.png")no-repeat 95% center;
    background-size: 10px;
}

/*start*/


.logins> :nth-child(4) {
    display: flex;
    cursor: default;
}

.logins> :nth-child(4) a {
    cursor: default;
}

.logins>:nth-child(4) :nth-child(2):before {
    padding: 0 4px;
    content: "|";
}

.naver {
    color: white;
    padding: 10px 0;
    background: #00c13a;
}

.naver:hover {
    background: #00942c;
}

.kakao {
    padding: 10px 0;
    background: rgb(255, 226, 79);
    color: #382828;
}

.kakao:hover {
    background: #ffd60c;
}


.joins>div {
    margin-bottom: 16px;
}

.birth {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 12px 5%;
    margin-top: 8px;
}

.birth select {
    width: 24%;
}

.checks {
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
}

.checks-more section {
    display: flex;
    justify-content: space-between;
}

.checks span,
.checks-more section span {
    color: #999;
    margin-left: 4px;
}

.checks-more section a {
    line-height: 1rem;
}

.used div {
    height: 300px;
    border: 1px solid #ddd;
    overflow-x: auto;
}

.used>p {
    text-align: center;
    margin: 32px 0 8px;
}

.used div section {
    padding: 24px 5%;
}

.joins> :nth-child(2)>div,
.btnflex {
    display: flex;
}

.joins> :nth-child(2)>div button,
.btnflex button {
    width: 180px;
    margin-left: 16px;
}

.join-ok {
    text-align: center;
}

.join-ok> :nth-child(2) {
    display: flex;
    margin-top: 48px;
}

.join-ok> :nth-child(2) button {
    width: 50%;
}

.join-ok> :nth-child(2) :nth-child(1) {
    margin-right: 16px;
}

.reason select {
    border: 1px solid #ddd;
    width: 100%;
    padding: 12px 5%;
}

.remove-one {
    text-align: center;
}

.remove-one p {
    margin: 16px 0 32px;
}

.remove-reason> :nth-child(2) {
    margin-top: 48px;
}

.remove-ok {
    text-align: center;
}

@media screen and (min-width: 1366px) {
    .contents {
        width: 450px;
        margin: 88px auto;
        padding: 88px 2.5%;
    }

    h2 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .join a,
    .login a {
        line-height: 1.2rem;
        font-size: 1rem;
    }

    .join a:hover,
    .login a:hover,
    .join a:active,
    .login a:active {
        color: black;
        line-height: 1.2rem;
        font-size: 1rem;
    }
}